<div class="container">
     <div class="row">
          <div class="col-md-9 mx-auto">
               <div class="card">
                    <div class="card-body">
                         <form action="/profile/add" method="POST">
                              <div class="form-group">
                                   <label for="exampleFormControlInput1">Title</label>
                                   <input type="text" name="title" class="form-control" placeholder="Your Title"
                                        autofocus>
                              </div>
                              <div class="form-group">
                                   <label for="exampleFormControlSelect1">Pedal Type</label>
                                   <select class="form-control" id="exampleFormControlSelect1">
                                        <option>pedal1</option>
                                        <option>pedal2</option>
                                        <option>pedal3</option>
                                        <option>pedal4</option>
                                   </select>
                              </div>
                              <label for="exampleFormControlInput1">Description</label>
                              <textarea name="description" rows="2" class="form-control"
                                   placeholder="Your description"></textarea>
                    </div>
                    <form>
                         <div class="form-group">
                              <label for="exampleFormControlFile1">Upload Image</label>
                              <input type="file" class="form-control-file" id="exampleFormControlFile1">
                         </div>
                         <div class="form-group">
                              <label for="exampleFormControlFile1">Upload Track</label>
                              <input type="file" class="form-control-file" id="exampleFormControlFile1">
                         </div>
                    </form>
                    <div class="form-group">
                         <button class="btn btn-success btn-block">
                              Save
                         </button>
                    </div>
                    </form>
               </div>
          </div>
     </div>
</div>
</div>>