<div class="container-fluid">
     <div class="row">
          <div class="col-m2  d-block d-md-block sidebar">
               <div class="sidebar-sticky">
                    <ul class="nav flex-column">
                         <li class="nav-item">
                              <a class="nav-link active" href="#">
                                   <span data-feather="home"></span>
                                   Dashboard <span class="sr-only">(current)</span>
                              </a>
                         </li>
                         <li class="nav-item">
                              <a class="nav-link" href="#">
                                   <span data-feather="file"></span>
                                   Shopping
                              </a>
                         </li>
                         <li class="nav-item">
                              <a class="nav-link" href="/dashboard/sales">
                                   <span data-feather="shopping-cart"></span>
                                   Sales
                              </a>
                         </li>
                         <li class="nav-item">
                              <a class="nav-link" href="#">
                                   <span data-feather="users"></span>
                                   Customers
                              </a>
                         </li>
                         <li class="nav-item">
                              <a class="nav-link" href="#">
                                   <span data-feather="bar-chart-2"></span>
                                   Reports
                              </a>
                         </li>
                         <li class="nav-item">
                              <a class="nav-link" href="#">
                                   <span data-feather="layers"></span>
                                   Integrations
                              </a>
                         </li>
                    </ul>
               </div>
          </div>
          <div class="col-md2 d-block d-md-block">
               <h1>Sumary</h1>
          </div>
     </div>
</div>
</div>
</div>