<header class="navbarcontainer">
     <nav class="navbar navbar-expand-lg navbar-light ">
          <div class="container-fluid">
               <a class="navbar-brand" href="/">
                    <img class="img-full" src="/images/rypl.png" alt="Rate Your Pedal" width="200">
                    <img class="img-short" src="/images/ryps.png" alt="Ryp" width="50">
                    <i class="fas fa-link"></i>
               </a>
               <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
               </button>
               <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav ml-auto">
                         <button type="button" class="btn btn-link btn-sm text-left shadow-none" data-toggle="modal"
                              aria-controls="navbarNav" data-target="#modallang">
                              <p><span class="lang" key="Lenguajenav">Languaje</span>
                                   <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-globe2" fill="#00B7FF"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd"
                                             d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm7.5-6.923c-.67.204-1.335.82-1.887 1.855-.143.268-.276.56-.395.872.705.157 1.472.257 2.282.287V1.077zM4.249 3.539a8.372 8.372 0 0 1-1.198-.49 7.01 7.01 0 0 1 2.276-1.52 6.7 6.7 0 0 0-.597.932 8.854 8.854 0 0 0-.48 1.079zM3.509 7.5H1.017A6.964 6.964 0 0 1 2.38 3.825c.47.258.995.482 1.565.667A13.4 13.4 0 0 0 3.508 7.5zm1.4-2.741c.808.187 1.681.301 2.591.332V7.5H4.51c.035-.987.176-1.914.399-2.741zM8.5 5.09V7.5h2.99a12.342 12.342 0 0 0-.399-2.741c-.808.187-1.681.301-2.591.332zM4.51 8.5H7.5v2.409c-.91.03-1.783.145-2.591.332a12.343 12.343 0 0 1-.4-2.741zm3.99 0v2.409c.91.03 1.783.145 2.591.332.223-.827.364-1.754.4-2.741H8.5zm-3.282 3.696A12.63 12.63 0 0 1 7.5 11.91v3.014c-.67-.204-1.335-.82-1.887-1.855a7.776 7.776 0 0 1-.395-.872zm.11 2.276a6.696 6.696 0 0 1-.598-.933 8.853 8.853 0 0 1-.481-1.079 8.38 8.38 0 0 0-1.198.49 7.01 7.01 0 0 0 2.276 1.522zm-1.383-2.964a9.083 9.083 0 0 0-1.565.667A6.963 6.963 0 0 1 1.018 8.5h2.49a13.36 13.36 0 0 0 .437 3.008zm6.728 2.964a7.009 7.009 0 0 0 2.275-1.521 8.376 8.376 0 0 0-1.197-.49 8.853 8.853 0 0 1-.481 1.078 6.688 6.688 0 0 1-.597.933zM8.5 11.909c.81.03 1.577.13 2.282.287-.12.312-.252.604-.395.872-.552 1.035-1.218 1.65-1.887 1.855V11.91zm3.555-.401c.57.185 1.095.409 1.565.667A6.963 6.963 0 0 0 14.982 8.5h-2.49a13.36 13.36 0 0 1-.437 3.008zM14.982 7.5h-2.49a13.361 13.361 0 0 0-.437-3.008 9.123 9.123 0 0 0 1.565-.667A6.963 6.963 0 0 1 14.982 7.5zM11.27 2.461c.177.334.339.694.482 1.078a8.368 8.368 0 0 0 1.196-.49 7.01 7.01 0 0 0-2.275-1.52c.218.283.418.597.597.932zm-.488 1.343c-.705.157-1.473.257-2.282.287V1.077c.67.204 1.335.82 1.887 1.855.143.268.276.56.395.872z" />
                                   </svg>
                              </p>
                         </button>
                         <div class="modal fade" id="modallang" tabindex="-1" role="dialog"
                              aria-labelledby="exampleModalLabel" aria-hidden="true">
                              <div class="modal-dialog" role="document">
                                   <div class="modal-content">
                                        <div class="modal-header text-center">
                                             <h4 class="modal-title w-100 font-weight-bold">
                                                  <p class="lang" key="lenguaje">Seleccionar Lenguaje</p>
                                             </h4>
                                             <button type="button" class="close" data-dismiss="modal"
                                                  aria-label="Close">
                                                  <span aria-hidden="true">&times;</span>
                                             </button>
                                        </div>
                                        <div class="modal-body mx-3">
                                             <div class="md-form mb-5">
                                                  <select class="form-control " id="btnlang" onchange="myFunction()">
                                                       <option id="en" value="en">English</option>
                                                       <option id="es" value="es">Español</option>
                                                  </select>
                                                  <script>
                                                       function myFunction() {
                                                            var x = document.getElementById("btnlang").value;
                                                            document.getElementById("translate").lang = x;
                                                       }
                                                  </script>
                                             </div>
                                        </div>
                                        <div class="modal-footer d-flex justify-content-center">
                                             <button type="submit" class="btn btn-info shadow-none rounded-pill "
                                                  data-toggle="modal" id="translate" lang="en" data-dismiss="modal">
                                                  <p class="lang" key="guardar">Guardar</p>
                                             </button>
                                        </div>
                                   </div>
                              </div>
                         </div>
                         <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog"
                              aria-labelledby="myLargeModalLabel" aria-hidden="true">
                              <div class="modal-dialog modal-lg">
                                   <div class="modal-content">
                                        ...
                                   </div>
                              </div>
                         </div>
                         {{#if user}}
                         <li class="nav-item dropdown">
                              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                   Links
                              </a>
                              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                   <a class="dropdown-item" href="/profile">Profile</a>
                                   <div class="dropdown-divider"></div>
                                   <a class="dropdown-item" href="/profile/add">Add A Pedal</a>
                              </div>
                         </li>
                         <li class="nav-item">
                              <a class="nav-link" href="/profile">Profile</a>
                         </li>
                         <li class="nav-item">
                              <a class="nav-link" href="/logout">Logout</a>
                         </li>
                         {{else}}
                         <li class="nav-item">
                              <button type="button" class="btn btn-link btn-sm text-left shadow-none"
                                   data-toggle="modal" aria-controls="navbarNav" data-target="#modalsignin">SignIn
                                   <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-person"
                                        fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd"
                                             d="M10 5a2 2 0 1 1-4 0 2 2 0 0 1 4 0zM8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm6 5c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4zm-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10z" />
                                   </svg>
                              </button>
                              <div class="modal fade" id="modalsignin" tabindex="-1" role="dialog"
                                   aria-labelledby="exampleModalLabel" aria-hidden="true">
                                   <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                             <div class="modal-header text-center">
                                                  <h4 class="modal-title w-100 font-weight-bold">
                                                       <p class="lang" key="signin">SingIn</p>
                                                  </h4>
                                                  <button type="button" class="close" data-dismiss="modal"
                                                       aria-label="Close">
                                                       <span aria-hidden="true">&times;</span>
                                                  </button>
                                             </div>
                                             <div class="modal-body mx-3">
                                                  <div class="md-form mb-5">
                                                       <select class="form-control " id="btnlang"
                                                            onchange="myFunction()">
                                                            <option id="en" value="en">English</option>
                                                            <option id="es" value="es">Español</option>
                                                       </select>

                                                  </div>
                                             </div>
                                             <div class="modal-footer d-flex justify-content-center">
                                                  <button type="submit" class="btn btn-info shadow-none rounded-pill "
                                                       data-toggle="modal" id="translate" lang="en"
                                                       data-dismiss="modal">
                                                       <p class="lang" key="guardar">Guardar</p>
                                                  </button>
                                             </div>
                                        </div>
                                   </div>
                              </div>
                         </li>
                         <li class="nav-item">
                              <button type="button" class="btn btn-link btn-sm text-left shadow-none"
                                   data-toggle="modal" aria-controls="navbarNav" data-target="#modalsingup">SignUp
                                   <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-pen"
                                        fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd"
                                             d="M13.498.795l.149-.149a1.207 1.207 0 1 1 1.707 1.708l-.149.148a1.5 1.5 0 0 1-.059 2.059L4.854 14.854a.5.5 0 0 1-.233.131l-4 1a.5.5 0 0 1-.606-.606l1-4a.5.5 0 0 1 .131-.232l9.642-9.642a.5.5 0 0 0-.642.056L6.854 4.854a.5.5 0 1 1-.708-.708L9.44.854A1.5 1.5 0 0 1 11.5.796a1.5 1.5 0 0 1 1.998-.001zm-.644.766a.5.5 0 0 0-.707 0L1.95 11.756l-.764 3.057 3.057-.764L14.44 3.854a.5.5 0 0 0 0-.708l-1.585-1.585z" />
                                   </svg>
                              </button>
                              <div class="modal fade" id="modalsingup" tabindex="-1" role="dialog"
                                   aria-labelledby="exampleModalLabel" aria-hidden="true">
                                   <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                             <div class="modal-header text-center">
                                                  <h4 class="modal-title w-100 font-weight-bold">
                                                       <p class="lang" key="signup"> SignUp</p>
                                                       <button type="button" class="close" data-dismiss="modal"
                                                            aria-label="Close">
                                                            <span aria-hidden="true">&times;</span>
                                                       </button>
                                             </div>
                                             <div class="modal-body mx-3">
                                                  <div class="md-form mb-5">
                                                       <div class="form-group">
                                                            <label for="exampleInputEmail1">Email </label>
                                                            <input type="email" class="form-control"
                                                                 id="exampleInputEmail1" aria-describedby="emailHelp"
                                                                 placeholder="email@email.com">
                                                       </div>
                                                       <div class="form-group">
                                                            <label for="exampleInputEmail1" class="lang"
                                                                 key="remail">Repeat Email </label>
                                                            <input type="email" class="form-control"
                                                                 id="exampleInputEmail1" aria-describedby="emailHelp"
                                                                 placeholder="email@email.com">
                                                       </div>
                                                       <div class="form-group">
                                                            <label for="exampleInputPassword1">Password</label>
                                                            <input type="password" class="form-control"
                                                                 id="exampleInputPassword1" placeholder="Password">
                                                       </div>
                                                       <div class="form-group">
                                                            <label for="exampleInputPassword1">Password</label>
                                                            <input type="password" class="form-control"
                                                                 id="exampleInputPassword1" placeholder="Password">
                                                       </div>
                                                       <div class="form-check">
                                                       </div>
                                                  </div>
                                                  <div class="modal-footer d-flex justify-content-center">
                                                       <button type="submit"
                                                            class="btn btn-info shadow-none rounded-pill "
                                                            data-toggle="modal" id="translate" lang="en"
                                                            data-dismiss="modal">
                                                            <p class="lang" key="guardar">Guardar</p>
                                                       </button>
                                                  </div>
                                             </div>
                                        </div>
                                   </div>
                         </li>
                         {{/if}}
                    </ul>
               </div>
          </div>
     </nav>
     </div>