<!DOCTYPE html>
<html>

<head>
     <meta name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no'>
     <meta charset='utf-8'>
     <link rel='stylesheet' , href='/css/bootstrap.min.css' />
     <title>{{title}}</title>
     <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
     {{{body}}}
</body>

<link rel='stylesheet' , href='/js/jquery.min.js'>
<link rel='stylesheet' , href='/js/popper.js'>
<link rel='stylesheet' , href='/js/bootstrap.min.js'>

</html>