                                body {
                                    padding: 0px;
                                    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
                                }
                                
                                input[type=number]::-webkit-inner-spin-button,
                                input[type=number]::-webkit-outer-spin-button {
                                    -webkit-appearance: none;
                                    margin: 0;
                                }
                                
                                input[type=number] {
                                    -moz-appearance: textfield;
                                }
                                
                                a {
                                    color: #00B7FF;
                                }
                                
                                p {
                                    margin-bottom: 0;
                                }
                                
                                .img-full {
                                    display: block;
                                }
                                
                                .img-short {
                                    display: none;
                                }
                                
                                @media (max-width: 800px) and (min-width: 320px) {
                                    .img-full {
                                        display: none;
                                    }
                                    .img-short {
                                        display: block;
                                    }
                                }
                                
                                .navbarcontainer {
                                    background-image: url("/images/fade3.jpg");
                                    background-size: cover;
                                    min-height: 100vh;
                                    background-repeat: no-repeat;
                                    position: relative;
                                }
                                
                                .container-fluid {
                                    position: relative;
                                }
                                
                                @media (max-width: 800px) and (min-width: 320px) {
                                    .navbarcontainer {
                                        background-image: url("/images/fade2.jpg");
                                        display: block;
                                        background-size: cover;
                                        background-repeat: no-repeat;
                                        position: relative;
                                        background-position: center;
                                        height: 4;
                                    }
                                    .container-fluid {
                                        display: block;
                                    }
                                }
                                
                                .nabvar .navbarcontainer {
                                    background-color: transparent !important;
                                }
                                
                                .navbar-light .navbar-nav .nav-link {
                                    color: #00B7FF;
                                    font-weight: bold;
                                }
                                
                                .navbar-light .navbar-nav .nav-link:focus,
                                .navbar-light .navbar-nav .nav-link:hover {
                                    color: #fc8600;
                                    text-decoration-line: underline;
                                    font-size: 1rem;
                                }
                                
                                .btn-link {
                                    color: #00B7FF;
                                    font-weight: bold;
                                    padding-left: 0px
                                }
                                
                                .btn-link:hover {
                                    color: #00B7FF;
                                    text-decoration-line: underline;
                                    font-size: 1rem;
                                }
                                
                                .btn-link:hover:focus,
                                .btn-link:hover:hover {
                                    color: #fc8600;
                                }
                                
                                .navbar-toggler {
                                    background-color: #ebebeba4;
                                }
                                
                                .navbar:hover {
                                    background-color: #14131381;
                                }
                                
                                .modal-content {
                                    border-radius: 15px;
                                    font-family: 'Lato', sans-serif;
                                }
                                
                                #modalNav .btn {
                                    outline: none;
                                    background: rgba(64, 180, 194, 100);
                                    color: white;
                                    padding: 4px;
                                    cursor: pointer;
                                    border-color: #40b4c2;
                                    border-radius: 10px;
                                    font-size: 1em;
                                    width: 20%;
                                }
                                
                                .modal-title {
                                    color: #ff6200;
                                }
                                
                                .form-control:focus {
                                    color: #495057;
                                    background-color: #fff;
                                    border-color: #40b4c2;
                                    outline: 0;
                                    box-shadow: 0 0 0 .1rem #40b5c26c;
                                }
                                
                                .sidebar {
                                    background-color: #14131381;
                                    background-image: none;
                                }
                                
                                h1 {
                                    color: #ff6200;
                                    font-family: 'Lato', sans-serif;
                                    font-weight: bold;
                                    text-align: center;
                                    margin-bottom: 1.5rem;
                                }
                                
                                #getyour {
                                    font-size: 1rem;
                                    font-weight: bold;
                                    color: #40b4c2;
                                }
                                
                                #container {
                                    background-color: #000000ab;
                                }
                                
                                #titleSales {
                                    font-size: 1.5rem;
                                    font-weight: bold;
                                    font-family: 'Lato', sans-serif;
                                    color: #40b4c2;
                                }
                                
                                #btnEliminarPub {
                                    outline: none;
                                    background: #ff0000ab;
                                    color: white;
                                    padding: 4px;
                                    cursor: pointer;
                                    border-color: #ca0000ab;
                                    border-radius: 15px;
                                    font-size: 1em;
                                    width: 20%;
                                }
                                
                                #btnEliminarPub:hover {
                                    background: #6e0505;
                                    text-shadow: 2px 2px 5px #020202;
                                }
                                
                                #btnEliminarPub:active {
                                    transform: translateY(2px);
                                }
                                
                                #titleb {
                                    font-size: 1rem;
                                    font-weight: bold;
                                    font-family: 'Lato', sans-serif;
                                    color: #ff6200;
                                }
                                
                                #salesText {
                                    color: #ffffff;
                                    font-family: 'Lato', sans-serif;
                                }
                                
                                #btnClose {
                                    outline: none;
                                    background: rgba(64, 180, 194, 100);
                                    color: white;
                                    padding: 4px;
                                    cursor: pointer;
                                    border-color: #40b4c2;
                                    border-radius: 15px;
                                    font-size: 1em;
                                    width: 20%;
                                }
                                
                                #btnAdd {
                                    outline: none;
                                    background: #40b4c2;
                                    color: white;
                                    padding: 4px;
                                    cursor: pointer;
                                    font-weight: bold;
                                    border-color: #40b5c2;
                                    border-radius: 10px;
                                    font-size: 1em;
                                    width: 25%;
                                    margin-left: 10px;
                                }
                                
                                #btnAdd {
                                    transition-duration: 0.5s;
                                }
                                
                                #btnAdd:hover {
                                    background: #36949e;
                                    color: #ffffff;
                                    text-shadow: 2px 2px 5px #020202;
                                }
                                
                                #btnAdd:active {
                                    transform: translateY(2px);
                                }
                                
                                #btnDanger {
                                    border-radius: 10px;
                                }
                                
                                #btnSecondary {
                                    border-radius: 10px;
                                }
                                
                                #salesTime {
                                    margin-bottom: 8px;
                                }
                                
                                #btnCancelar {
                                    outline: none;
                                    background: #40b4c2;
                                    color: white;
                                    padding: 4px;
                                    cursor: pointer;
                                    font-weight: bold;
                                    border-color: #40b5c2;
                                    border-radius: 10px;
                                    font-size: 1em;
                                    width: 25%;
                                }
                                
                                #btnCancelar {
                                    transition-duration: 0.5s;
                                }
                                
                                #btnCancelar:hover {
                                    background: #36949e;
                                    color: #ffffff;
                                    text-shadow: 2px 2px 5px #020202;
                                }
                                
                                #phone {
                                    padding-left: 50px;
                                    padding-right: 12px;
                                    text-align: left;
                                    width: 100%;
                                }